inputs

In [1]:
import pandas as pd
import numpy as np

import qcew_python_3x_example as qcew
from qcew_python_3x_example import qcewGetIndustryData as industry

import qcew_area_titles as area

In [2]:
def industry_extraction(year,naics_code):
    output = industry(year,'a',naics_code)

    return output

In [3]:

INDUSTRY_YEARS = ['2014','2015','2016','2017','2018','2019','2020','2021']

# qualifying fossil employment naics codes

INDUSTRY_NAICS_CODES = ['2121','211','213','23712','486','4247','22112']

In [4]:
def get_2014_data():
    appended_df = []

    for year in INDUSTRY_YEARS:
        for naics_code in INDUSTRY_NAICS_CODES:
            i = industry_extraction(year,naics_code)
            df = pd.DataFrame(i[1:],columns=i[0])
            appended_df.append(df)

    appended_df = pd.concat(appended_df,axis=0)

    return appended_df

In [10]:
df = get_2014_data()

In [11]:
for i, col in enumerate(df.columns):
    df.iloc[:,i] = df.iloc[:,i].str.replace('"','')

In [12]:
df.columns = df.columns.str.replace('"','')

df

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_total_annual_wages_chg,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg
0,01000,5,2121,56,0,2014,A,,39,3835,...,-25716826,-6.7,-7557145,-17.9,-463710,-45.7,69,4.0,3607,4.0
1,01009,5,2121,76,0,2014,A,N,2,0,...,0,0,0,0,0,0,0,0,0,0
2,01059,5,2121,76,0,2014,A,N,1,0,...,0,0,0,0,0,0,0,0,0,0
3,01071,5,2121,76,0,2014,A,N,3,0,...,0,0,0,0,0,0,0,0,0,0
4,01073,5,2121,76,0,2014,A,,11,1291,...,-7376018,-5.6,-3412073,-22.9,-258835,-62.8,130,7.5,6754,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3435,US000,1,22112,17,0,2021,A,,83,2744,...,5025759,1.2,0,0.0,0,0.0,35,1.2,1827,1.2
3436,US000,2,22112,17,0,2021,A,,8,1101,...,1039364,0.9,1056879,33.7,10567,33.7,58,3.0,3032,3.0
3437,US000,3,22112,17,0,2021,A,,684,55153,...,164245819,3.0,3472358,3.7,45911,17.3,57,3.0,2967,3.0
3438,US000,5,22112,17,0,2021,A,,6643,238103,...,390801553,1.4,244558808,6.9,10507021,35.9,41,1.8,2110,1.8
3439,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [13]:
df

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_total_annual_wages_chg,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg
0,01000,5,2121,56,0,2014,A,,39,3835,...,-25716826,-6.7,-7557145,-17.9,-463710,-45.7,69,4.0,3607,4.0
1,01009,5,2121,76,0,2014,A,N,2,0,...,0,0,0,0,0,0,0,0,0,0
2,01059,5,2121,76,0,2014,A,N,1,0,...,0,0,0,0,0,0,0,0,0,0
3,01071,5,2121,76,0,2014,A,N,3,0,...,0,0,0,0,0,0,0,0,0,0
4,01073,5,2121,76,0,2014,A,,11,1291,...,-7376018,-5.6,-3412073,-22.9,-258835,-62.8,130,7.5,6754,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3435,US000,1,22112,17,0,2021,A,,83,2744,...,5025759,1.2,0,0.0,0,0.0,35,1.2,1827,1.2
3436,US000,2,22112,17,0,2021,A,,8,1101,...,1039364,0.9,1056879,33.7,10567,33.7,58,3.0,3032,3.0
3437,US000,3,22112,17,0,2021,A,,684,55153,...,164245819,3.0,3472358,3.7,45911,17.3,57,3.0,2967,3.0
3438,US000,5,22112,17,0,2021,A,,6643,238103,...,390801553,1.4,244558808,6.9,10507021,35.9,41,1.8,2110,1.8
3439,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
area = area.extract()

In [15]:
area

     area_fips                                      area_title
0        US000                                      U.S. TOTAL
1        USCMS      U.S. Combined Statistical Areas (combined)
2        USMSA  U.S. Metropolitan Statistical Areas (combined)
3        USNMS   U.S. Nonmetropolitan Area Counties (combined)
4        01000                            Alabama -- Statewide
...        ...                                             ...
4720     CS554   Wausau-Stevens Point-Wisconsin Rapids, WI CSA
4721     CS556          Wichita-Arkansas City-Winfield, KS CSA
4722     CS558                 Williamsport-Lock Haven, PA CSA
4723     CS564                 York-Hanover-Gettysburg, PA CSA
4724     CS566                    Youngstown-Warren, OH-PA CSA

[4725 rows x 2 columns]

In [16]:
df_with_areas = df.merge(area,on='area_fips',how='left')

In [19]:
df_with_areas

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_total_annual_wages_pct_chg,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg,area_title
0,01000,5,2121,56,0,2014,A,,39,3835,...,-6.7,-7557145,-17.9,-463710,-45.7,69,4.0,3607,4.0,Alabama -- Statewide
1,01009,5,2121,76,0,2014,A,N,2,0,...,0,0,0,0,0,0,0,0,0,"Blount County, Alabama"
2,01059,5,2121,76,0,2014,A,N,1,0,...,0,0,0,0,0,0,0,0,0,"Franklin County, Alabama"
3,01071,5,2121,76,0,2014,A,N,3,0,...,0,0,0,0,0,0,0,0,0,"Jackson County, Alabama"
4,01073,5,2121,76,0,2014,A,,11,1291,...,-5.6,-3412073,-22.9,-258835,-62.8,130,7.5,6754,7.5,"Jefferson County, Alabama"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98575,US000,1,22112,17,0,2021,A,,83,2744,...,1.2,0,0.0,0,0.0,35,1.2,1827,1.2,U.S. TOTAL
98576,US000,2,22112,17,0,2021,A,,8,1101,...,0.9,1056879,33.7,10567,33.7,58,3.0,3032,3.0,U.S. TOTAL
98577,US000,3,22112,17,0,2021,A,,684,55153,...,3.0,3472358,3.7,45911,17.3,57,3.0,2967,3.0,U.S. TOTAL
98578,US000,5,22112,17,0,2021,A,,6643,238103,...,1.4,244558808,6.9,10507021,35.9,41,1.8,2110,1.8,U.S. TOTAL
98579,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN

In [20]:
df_with_areas.melt(id_vars=['area_fips','area_title','industry_code'],value_vars=['annual_avg_estabs'],value_name='employees',var_name='total')

,area_fips,area_title,industry_code,total,employees
0,01000,Alabama -- Statewide,2121,annual_avg_estabs,39
1,01009,"Blount County, Alabama",2121,annual_avg_estabs,2
2,01059,"Franklin County, Alabama",2121,annual_avg_estabs,1
3,01071,"Jackson County, Alabama",2121,annual_avg_estabs,3
4,01073,"Jefferson County, Alabama",2121,annual_avg_estabs,11
...,...,...,...,...,...
98575,US000,U.S. TOTAL,22112,annual_avg_estabs,83
98576,US000,U.S. TOTAL,22112,annual_avg_estabs,8
98577,US000,U.S. TOTAL,22112,annual_avg_estabs,684
98578,US000,U.S. TOTAL,22112,annual_avg_estabs,6643
98579,,NaN,None,annual_avg_estabs,None

In [21]:
df_with_areas.melt(id_vars=['area_fips','area_title','industry_code'],value_vars=['annual_avg_emplvl'],value_name='num_of_employees',var_name='variable')

,area_fips,area_title,industry_code,variable,num_of_employees
0,01000,Alabama -- Statewide,2121,annual_avg_emplvl,3835
1,01009,"Blount County, Alabama",2121,annual_avg_emplvl,0
2,01059,"Franklin County, Alabama",2121,annual_avg_emplvl,0
3,01071,"Jackson County, Alabama",2121,annual_avg_emplvl,0
4,01073,"Jefferson County, Alabama",2121,annual_avg_emplvl,1291
...,...,...,...,...,...
98575,US000,U.S. TOTAL,22112,annual_avg_emplvl,2744
98576,US000,U.S. TOTAL,22112,annual_avg_emplvl,1101
98577,US000,U.S. TOTAL,22112,annual_avg_emplvl,55153
98578,US000,U.S. TOTAL,22112,annual_avg_emplvl,238103
98579,,NaN,None,annual_avg_emplvl,None

In [18]:
df_with_areas.columns

Index(['area_fips', 'own_code', 'industry_code', 'agglvl_code', 'size_code',
       'year', 'qtr', 'disclosure_code', 'annual_avg_estabs',
       'annual_avg_emplvl', 'total_annual_wages', 'taxable_annual_wages',
       'annual_contributions', 'annual_avg_wkly_wage', 'avg_annual_pay',
       'lq_disclosure_code', 'lq_annual_avg_estabs', 'lq_annual_avg_emplvl',
       'lq_total_annual_wages', 'lq_taxable_annual_wages',
       'lq_annual_contributions', 'lq_annual_avg_wkly_wage',
       'lq_avg_annual_pay', 'oty_disclosure_code', 'oty_annual_avg_estabs_chg',
       'oty_annual_avg_estabs_pct_chg', 'oty_annual_avg_emplvl_chg',
       'oty_annual_avg_emplvl_pct_chg', 'oty_total_annual_wages_chg',
       'oty_total_annual_wages_pct_chg', 'oty_taxable_annual_wages_chg',
       'oty_taxable_annual_wages_pct_chg', 'oty_annual_contributions_chg',
       'oty_annual_contributions_pct_chg', 'oty_annual_avg_wkly_wage_chg',
       'oty_annual_avg_wkly_wage_pct_chg', 'oty_avg_annual_pay_chg',
       'oty_avg_annual_pay_pct_chg', 'area_title'],
      dtype='object')

In [5]:
def bls_geographic_tag():
    # potentially make df a parameter
    data = get_2014_data()

    data['geographic_level'] = np.where(data['area_title'].str.contains('Statewide'),'state',data['area_title'])
    data['geographic_level'] = np.where(data['area_title'].str.contains('Parish|City|Borough|County'),'county',data['geographic_level'])
    data['geographic_level'] = np.where(data['area_title'].str.contains('MSA'),'metropolitan_stat_area',data['geographic_level'])
    data['geographic_level'] = np.where(data['area_title'].str.contains('MicroSA'),'micropolitan_stat_area',data['geographic_level'])
    data['geographic_level'] = np.where(data['area_title'].str.contains('(Combined)'),'aggregated_stat_area',data['geographic_level'])
    data['geographic_level'] = np.where(data['area_title'].str.contains('TOTAL'),'nationwide',data['geographic_level'])
    data['geographic_level'] = np.where(data['area_title'].str.contains('Unknown'),'undefined',data['geographic_level'])
    data
        
    return data

In [10]:
bls_geographic_tag()

KeyError: 'area_title'

In [8]:
def cleaning_2014_data():
    
    df = bls_geographic_tag()
    
    area = area.extract()

    # remove quotation marks in rows
    for i, col in enumerate(df.columns):
        df.iloc[:,i] = df.iloc[:,i].str.replace('"','')

    # remove quotation marks in columns
    df.columns = df.columns.str.replace('"','')

    #merge in BLS area codes to get geographic names for each observations

    df_with_areas = df.merge(area,on='area_fips',how='left')

    #melt to make variable identifier to merge other identifiers in later

    final_df = df_with_areas.melt(id_vars=['area_fips','area_title','industry_code'],value_vars=['annual_avg_emplvl'],value_name='num_of_employees',var_name='variable')

    return df_with_areas

In [9]:
cleaning_2014_data()

KeyError: 'area_title'

In [14]:
from qcew_python_3x_example import qcewGetAreaData

i = qcewGetAreaData("2015","1","26000")


df = pd.DataFrame(i[1:],columns=i[0])
df

,"""area_fips""","""own_code""","""industry_code""","""agglvl_code""","""size_code""","""year""","""qtr""","""disclosure_code""","""qtrly_estabs""","""month1_emplvl""",...,"""oty_month3_emplvl_chg""","""oty_month3_emplvl_pct_chg""","""oty_total_qtrly_wages_chg""","""oty_total_qtrly_wages_pct_chg""","""oty_taxable_qtrly_wages_chg""","""oty_taxable_qtrly_wages_pct_chg""","""oty_qtrly_contributions_chg""","""oty_qtrly_contributions_pct_chg""","""oty_avg_wkly_wage_chg""","""oty_avg_wkly_wage_pct_chg"""
0,"""26000""","""0""","""10""","""50""","""0""","""2015""","""1""","""""",236663,4044960,...,69063,1.7,1861673917,3.8,668478069,3.2,-65366289,-7.1,18,1.9
1,"""26000""","""1""","""10""","""51""","""0""","""2015""","""1""","""""",1548,50895,...,530,1.0,27598552,2.8,0,0.0,0,0.0,33,2.2
2,"""26000""","""1""","""102""","""52""","""0""","""2015""","""1""","""""",1548,50895,...,530,1.0,27598552,2.8,0,0.0,0,0.0,33,2.2
3,"""26000""","""1""","""1021""","""53""","""0""","""2015""","""1""","""""",889,20398,...,257,1.3,4659924,1.4,0,0.0,0,0.0,12,0.9
4,"""26000""","""1""","""1022""","""53""","""0""","""2015""","""1""","""""",2,30,...,-3,-9.7,81646,19.8,0,0.0,0,0.0,227,21.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2812,"""26000""","""5""","""9999""","""56""","""0""","""2015""","""1""","""""",3929,8347,...,-1622,-15.3,-17063726,-14.9,-11911419,-17.2,-243139,-12.5,13,1.5
2813,"""26000""","""5""","""99999""","""57""","""0""","""2015""","""1""","""""",3929,8347,...,-1622,-15.3,-17063726,-14.9,-11911419,-17.2,-243139,-12.5,13,1.5
2814,"""26000""","""5""","""999999""","""58""","""0""","""2015""","""1""","""""",3929,8347,...,-1622,-15.3,-17063726,-14.9,-11911419,-17.2,-243139,-12.5,13,1.5
2815,"""26000""","""8""","""10""","""96""","""0""","""2015""","""1""","""""",7588,549245,...,-1108,-0.2,20541122,0.3,-2937252,-3.4,-671791,-19.3,5,0.5
2816,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
i = industry("2015","a","10")

df = pd.DataFrame(i[1:],columns=i[0])

In [19]:
df

,"""area_fips""","""own_code""","""industry_code""","""agglvl_code""","""size_code""","""year""","""qtr""","""disclosure_code""","""annual_avg_estabs""","""annual_avg_emplvl""",...,"""oty_total_annual_wages_chg""","""oty_total_annual_wages_pct_chg""","""oty_taxable_annual_wages_chg""","""oty_taxable_annual_wages_pct_chg""","""oty_annual_contributions_chg""","""oty_annual_contributions_pct_chg""","""oty_annual_avg_wkly_wage_chg""","""oty_annual_avg_wkly_wage_pct_chg""","""oty_avg_annual_pay_chg""","""oty_avg_annual_pay_pct_chg"""
0,"""01000""","""0""","""10""","""50""","""0""","""2015""","""A""","""""",119251,1890340,...,3022173057,3.7,371785845,2.7,-20850739,-6.6,19,2.3,986,2.3
1,"""01000""","""1""","""10""","""51""","""0""","""2015""","""A""","""""",1185,53014,...,50862562,1.2,0,0.0,0,0.0,32,2.1,1656,2.1
2,"""01000""","""2""","""10""","""51""","""0""","""2015""","""A""","""""",1362,94347,...,92308286,2.0,-3155,-5.2,-109,-17.7,15,1.6,768,1.5
3,"""01000""","""3""","""10""","""51""","""0""","""2015""","""A""","""""",3700,210813,...,135500373,1.7,105354,0.1,-152872,-7.8,16,2.2,823,2.1
4,"""01000""","""5""","""10""","""51""","""0""","""2015""","""A""","""""",113005,1532167,...,2743501836,4.3,371683646,2.7,-20697758,-6.6,19,2.3,1021,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19253,"""US000""","""9""","""10""","""94""","""0""","""2015""","""A""","""""",9461977,136735265,...,360142063538,5.3,52991093171,3.6,-2503429101,-5.7,30,3.1,1573,3.1
19254,"""USCMS""","""0""","""10""","""92""","""0""","""2015""","""A""","""""",6885679,106826720,...,298447723189,5.3,42018158572,3.7,-1869807201,-5.4,31,3.0,1653,3.1
19255,"""USMSA""","""0""","""10""","""91""","""0""","""2015""","""A""","""""",7706903,120319910,...,334271389371,5.4,47632381511,3.8,-2097517959,-5.6,31,3.1,1617,3.1
19256,"""USNMS""","""0""","""10""","""93""","""0""","""2015""","""A""","""""",1815872,19171789,...,33701124952,4.2,5358711660,2.4,-405911142,-6.8,24,2.9,1246,2.9
19257,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None